<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/theme.css" />
    {% endblock head %}
</head>

<body>
    <div class="container">
        <div class="top">
            <header>
                <a class="inconspicuous-link" href="{{ SITEURL }}">{{ SITENAME }}</a>
            </header>

            <nav>
                {% if DISPLAY_PAGES_ON_MENU and PAGES %}
                    <a href="{{ SITEURL }}">blog</a>
                    {% for p in PAGES %}
                        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title.lower() }}</a>
                    {% endfor %}
                {% endif %}
            </nav>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% if COPYRIGHT_URL %}
                <a href="{{ COPYRIGHT_URL }}">Copyright &copy; 2013-2016</a>
            {% else %}
                Copyright &copy; 2013-2016
            {% endif %}
            {{ AUTHOR }}
        </footer>
    </div>
</body>
</html>
